<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Github Setup | Web Backend Development I</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/online340/css/340course-min.css" type="text/css" media="screen">
</head>

<body>
  <div id="wrapper">
    <header><img src="/online340/images/small_banner.jpg" alt="Course Banner"></header>
    <main>

      <h1>Getting Started With GitHub</h1>
      <h2>What is GitHub?</h2>
      <p>GitHub is a web site that allows users to store and share files, applications and projects. The technology behind GitHub can be daunting, but for our class we will attempt to keep things simple.</p>
      <p>We will use GitHub as a distribution point for our websites as we build them. GitHub will not be our hosting as is the case in some previous classes.</p>
      <p>If you already have a GitHub account, do not create another. Instead, create a repository to be used for our class.</p>
      <h2>The Video</h2>
      <p>Watch the video below and follow along with it. When done, you should have a GitHub account and repository for use in the class.</p>
      <p class="callout">Using your class or project name as the repository name is recommended for our class (e.g.
        cse340). Watch the video to obtain a general idea, but follow the written steps to complete the activity.</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/x4uL7q59v1A" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </main>
    <footer>
      <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License"
          style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as
      noted) are by Blaine Robertson and licensed under a <a rel="license"
        href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0
        License</a>. </footer>
  </div>
</body>

</html>