<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>GitHub Starter | Web Backend Development</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/online340/css/340course-min.css" type="text/css" media="screen">
</head>

<body>
  <div id="wrapper">
    <header><img src="/online340/images/small_banner.jpg" alt="Course Banner"></header>
    <main>
      <h1>GitHub Starter</h1>
      <h2>Introduction</h2>
      <p>To speed up the process of getting our class application underway, a GitHub repo has been created that contains some folders and files. In this activity, you'll create a new repo with pre-existing content.</p>

      <h2>Video</h2>
      <p>This video shows how to delete a GitHub repository, as well as how to create a repository using a template (which is what you are doing in this activity). You do not need to delete, prior to using the template. Watch the video to obtain a general idea, but follow the written steps to complete the activity. This is the <a target="_blank" href="../transcripts/github-starter.txt">Transcript</a> of the video.</p>
      </p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/NgpT2DAWi6A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      <h2>Directions</h2>
      <p>A GitHub repo can come in different configurations. The starter code is in a "template" configuration. This
        means it's intended to be downloaded, not developed directly. Let's go get it, and integrate
        it now.</p>
      <ol>
        <li>Go to the CSE <a href="https://github.com/byui-wdd/340-starter" target="_blank">340-starter</a> repo on GitHub.</li>
          <li><strong>Make sure you are logged in to GitHub. If you are not, do so!</strong></li>
        <li>Click the "Use this template" button and select "Create new repository". <strong>If you don't see the "Use this template
" button, it is because you are NOT logged in.</strong></li>
<li>You will be taken to the "Create a new repository" setting in your own account.</li>
<li>Follow the same process you have used in previous classes to create and then clone the repo to your own computer.</li>
        <li>In the next activity we'll take a look at what you just added and why.</li>
      </ol>

      <h2>Conclusion</h2>
      <p>The addition of these folders and files should provide a base to build on as the course progresses.</p>
    </main>
    <footer>
      <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License"
          style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as
      noted) are by Blaine Robertson and licensed under a <a rel="license"
        href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0
        License</a>. </footer>
  </div>
</body>

</html>