<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>MVC Interactions | Web Backend Development</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/cse340-ww-content/css/340course-min.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/cse340-ww-content/css/prism-coy-dev.min.css" media="screen">
  <script defer src="/cse340-ww-content/js/prism-coy-dev.min.js"></script>
</head>

<body>
  <div id="wrapper">
    <header><img src="/cse340-ww-content/images/small_banner.jpg" alt="Course Banner"></header>
    <main>
      <h1>MVC Interactions</h1>
      <h2>Introduction</h2>
<p>As you use the server.js file, the route and view you will notice that there are multiple components working together to determine what is being requested, where the resource is located, and finally how it will be built from a variety of smaller code segments and finally delivered back to the client browser. This process is commonly referred to as the Model - View - Controller design pattern. In this unit, not all of these are used, but they will be as we progress in the course. </p>

<p>You are being introduced to these concepts now, in the hope that you will work diligently to understand and comprehend the role each plays in the process of developing and delivering content from the backend to the frontend. The video below introduces each of the components and then demonstrates how they interact to accomplish the fulfillment process. This is the <a target="_blank" href="../transcripts/mvc-overview.txt">Transcript</a> of the video.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Ar7pcvjCS4o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      

      <h2>Application</h2>
<p>Having watched the video, download the <a href="/cse340-ww-content/downloads/MVC_overview.pdf" target="_blank" rel="noopener noreferrer">final diagram PDF</a>. <mark>It is recommended that you print this diagram and review it often to remember and memorize the flow of the MVC application.</mark> Doing this will help you with troubleshooting and knowing how the application flows from component to component.</p>


    </main>
    <footer>
      <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License"
          style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as
      noted) are by Blaine Robertson and licensed under a <a rel="license"
        href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0
        License</a>. </footer>
  </div>
</body>

</html>