<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Node References | Web Backend Development</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/340-js/css/340course-min.css" type="text/css" media="screen">
  <style>
    dt{
      font-weight: 700;
    }
    dd{
      margin-bottom: 1rem;
    }
  </style>
</head>

<body>
  <div id="wrapper">
    <header><img src="/340-js/images/small_banner.jpg" alt="Course Banner"></header>
    <main>
      <h1>Node References</h1>
      <h2>Introduction</h2>
      <p>In our class we will build a backend-focused application using Node as the base software and supplementing it
        with a variety of additional packages (e.g. Express, EJS, etc...). In order to have a reference to those that we
        will use this week, refer to each of the items listed below. These links are to the official sites and/or
        documentation for each of the items to be used.</p>

      <h2>Reference links</h2>
      <dl>
        <dt>Node</dt>
        <dd>See <a href="https://nodejs.dev/en/learn/">Introduction to Node</a>. Node is the underlying software for
          server-side JavaScript. Look through the various topics in the Learn section of the website.</dd>

        <dt>PnPM</dt>
        <dd>See <a href="https://pnpm.io/">PnPM</a>. PnPM is a package manager, meaning it is used to add packages to Node, such as Express, and manage them. It has advantages over other package managers. Watch the YouTube video on the home page to see some of those advantages. When done, click the "Get Started" button on the home page, then click the "Usage > pnpm CLI" links on the left bar. Pay particular attention to the Commands listed in the table at the bottom of this page.</dd>

        <dt>Express</dt>
        <dd>See <a href="https://expressjs.com/">Express Home</a>. Express is "web framework" that works with Node to make building web applications easier. Refer to the Guide and Getting started sections of the site.</dd>

        <dt>EJS (Embedded JavaScript templating)</dt>
        <dd>See <a href="https://ejs.co/">EJS home</a>. This is also a Node package, specifically for building views (web pages) dynamically on the server and sending content to the browser using those views. Take some time and scroll down through the content to get a feel of how EJS works.</dd>

        <dt>Express EJS Layouts</dt>
        <dd>See <a href="https://www.npmjs.com/package/express-ejs-layouts">EJS Layouts in openbase</a>. This is not the official site for this package, but it is beneficial for seeing examples and reading documentation (see the navigation panel on the left). This package adds functionality to EJS, for implementing layouts into views and modularizing content. Spend some time looking through the items in the left navigation panel.</dd>

      </dl>

    </main>
    <footer>
      <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License"
          style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as
      noted) are by Blaine Robertson and licensed under a <a rel="license"
        href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0
        License</a>. </footer>
  </div>
</body>

</html>