<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Node Installation | Web Backend Development</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/online340/css/340course-min.css" type="text/css" media="screen">
</head>

<body>
  <div id="wrapper">
    <header><img src="/online340/images/small_banner.jpg" alt="Course Banner"></header>
    <main>
      <h1>Node Installation</h1>
      <h2>Introduction</h2>
      <p>As explained in the readings for this week, Node is the underlying software for
        server-side JavaScript. In order to progress in the class it needs to be installed locally. You will install Node Version Manager (NVM), then install the current Long Term Support (LTM) version of Node, using NVM.</p>
        
      <h2>Directions</h2>
<ol class="bigSteps">
  <li>In your browser, navigate to <a href="https://byui-cit.github.io/learning-modules/modules/general/node-installation/" target="_blank">https://byui-cit.github.io/learning-modules/modules/general/node-installation/</a>.</li>
  <li>Scroll to the bottom of the document and click the directions for your operating system.</li>
  <li>Follow the directions. If you have issues with the installation of either NVM or Node, within NVM, get help to make sure the installation is complete.</li>
  <li>If you already have NVM installed, install the LTM version of Node - no need to reinstall NVM.</li>
</ol>

<h2>Conclusion</h2>
<p>Congratulations on getting Node installed successfully. You're now ready to move on. If, the installation failed, get help to get it installed.</p>
    </main>
    <footer>
      <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License"
          style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as
      noted) are by Blaine Robertson and licensed under a <a rel="license"
        href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0
        License</a>. </footer>
  </div>
</body>

</html>