<!doctype html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>Password Hashing | Web Backend Development</title>
 <meta name="description" content="This activity discusses password hashing for the development project of CSE 340">
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="/online340/css/340course-min.css" type="text/css" media="screen">
 <link rel="stylesheet" href="/online340/css/prism-coy-dev.min.css" media="screen">
 <script defer src="/online340/js/prism-coy-dev.min.js"></script>
</head>

<body>
 <div id="wrapper">
   <header id="header"><img src="/online340/images/small_banner.jpg" alt="CSE 340 Banner Image"></header>
  <main>
    <h1>Password Hashing</h1>

    <h2>Introduction</h2>
    <p>It is not uncommon to read a story about a company's database being "hacked" and 100,000 user accounts being stolen. Often time, the usernames and passwords of those stolen accounts end up being published on the Internet. What is very embarrassing is when the passwords that were stolen were "plain text". Just as the ones in our "account" table are right now.</p>

    <p>The solution to our embarrassment is to alter the password from "plain text" to a "hash". Without getting too geeky, a hash is a one-way transformation (it cannot be reversed - we hope) of a plain text password into a jumble of characters that don't mean anything if read by a human.</p>

    <h2>Video Demonstration</h2>
    <p>The video provides a general overview of the activity, but does not contain the detail needed to complete each process. Watch the video to obtain a general idea, but follow the written steps to complete the activity. This is the <a target="_blank" href="../transcripts/password-hashing.txt">Transcript</a> of the video.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/RGxi_uLkaYo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <h2>Bcryptjs</h2>
    <p>In the old days, people would devise all kinds of methods of creating hashes, but today things are much simpler as packages exist to do it for us. We will use the <a href="https://www.npmjs.com/package/bcryptjs" title="Open the bcryptjs link in a new tab" target="_blank">bcryptjs</a> package to hash the submitted password, prior to storing it into the database.</p>

    <h3>Install Bcryptjs</h3>
    <p>As with installing any package, the following process should be followed:
      <ol>
        <li>Open a <span title='Visual Studio Code'>VSC</span> terminal.</li>
        <li>Type "<code><mark>pnpm add bcryptjs</mark></code>", press "Enter".</li>
        <li>When the installation is done, close the terminal.</li>
      </ol>
    </p>

    <h3>Implement Bcryptjs</h3>
    <ol>
     <li>Open the <span class="fn">accountController</span> file.</li>
     <li>At the top of the file, require the "bcryptjs" package:
      <pre class="line-numbers" title="Copy - Paste does NOT help you learn. Type it." ><code class="language-JavaScript">const bcrypt = require("bcryptjs")</code></pre>
     </li>
     <li>Scroll down and find the function to register a new client.</li>
     <li>In the register function, directly beneath where the incoming data is collected from the req.body, create several empty lines. Add the following code to the new lines:
      <pre class="line-numbers" title="Copy - Paste does NOT help you learn. Type it." ><code class="language-JavaScript">// Hash the password before storing
  let hashedPassword
  try {
    // regular password and cost (salt is generated automatically)
    hashedPassword = await bcrypt.hashSync(account_password, 10)
  } catch (error) {
    req.flash("notice", 'Sorry, there was an error processing the registration.')
    res.status(500).render("account/register", {
      title: "Registration",
      nav,
      errors: null,
    })
  }</code></pre>
     </li>
     <li><h3>An Explanation</h3>
    <ul>
      <li><strong>Line 1 - </strong> a comment to indicate what is happening in the code.</li>
      <li><strong>Line 2 - </strong> declares a new variable.</li>
      <li><strong>Line 3 - </strong> opens a try-catch block.</li>
      <li><strong>Line 4 - </strong> another comment explaining line 5.</li>
      <li><strong>Line 5 - </strong> calls the "<code>bcrypt.hashSync()</code> function, using "await" and stores the resulting hash into the variable created on line 2. The function accepts the plain text password and a "saltRounds" value as parameters. [<mark>A saltRound is an integer indicating how many times a hash will be resent through the hashing algorithim. In our code, the 10 means that the password will be hashed, then that hash will be rehashed and so on until 10 such processes have been carried out.</mark>]</li>
      <li><strong>Line 6 - </strong> ends the "try" and opens the "catch". The catch will store any errors into the "error" variable.</li>
      <li><strong>Line 7 - </strong> creates a flash message indicating the registration failed.</li>
      <li><strong>Lines 8-12 - </strong> will return the <span class="fn">registration</span> view.</li>
      <li><strong>Line 13 - </strong> closes the "catch" block.</li>
      <li>Ensure that no warnings or errors are present. Save the file.</li>
    </ul>
    </li>
     <li>Finally, scroll down a bit further and replace the plain text "account_password" variable in the <b>accountRegister</b> function, with the new "<b>hashedPassword</b>"" variable.</li>
     <li>When done the accountRegister function should look similar to this:
      <pre class="line-numbers" title="Copy - Paste does NOT help you learn. Type it." ><code class="language-JavaScript">const regResult = await accountModel.accountRegister(
    account_firstname,
    account_lastname,
    account_email,
    hashedPassword
  )</code></pre>
     </li>
     <li>Again, ensure that no warnings or errors are present. Save the file.</li>
    </ol>

    <h2>Test it Out</h2>
    <ol>
     <li>Open a <span title='Visual Studio Code'>VSC</span> terminal and start the local server: "<code><mark>pnpm run dev</mark></code>", press "Enter".</li>
     <li>In the browser, navigate to the <span class="fn">registration</span> view in the project site.</li>
     <li>Register a new account.</li>
     <li>The <span class="fn">login</span> view should be delivered with a success message.</li>
     <li>Use pgAdmin to check your account data in the database.</li>
     <li>If things worked correctly the password for the new account should now be a long string of characters and symbols and no longer be a plain text password.</li>
     <li>If it didn't work, review the code for errors. Check variable names to make sure they match. Ask a classmate. Ask the TA, lab assistant or professor for help.</li>
     <li><span class="notice">Delete old records.</span> Delete the records in the <span class="fn">account</span> table that contain plain text passwords. If desired, register the same accounts again, but with the hashed password.</li>
     <li>Be sure to shut down the server when done with "<code><mark>Control + C</mark></code>" in the terminal.</li>
    </ol>


    <h2>Summary</h2>
    <p>As has been stated before, "This is not a security class, but we want to use secure methods with our code". By hashing passwords, we increase the security of the passwords that are stored in the database. This makes it much more difficult to know the original password - thus, they are more secure.</p>

  </main>
  <footer>
   <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png"></a> All materials (except as noted) are by Blaine Robertson and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" title="Read the license" target="_blank">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
 </div>
  
</body>

</html>