<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>pgAdmin 4 | Web Backend Development</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/online340/css/340course-min.css" type="text/css" media="screen">
</head>

<body>
  <div id="wrapper">
    <header><img src="/online340/images/small_banner.jpg" alt="Course Banner"></header>
    <main>
      <h1>pgAdmin 4</h1>
      <h2>Introduction</h2>
      <p>While render.com provides the server to host our database, it doesn't provide any tools to interact with the database. We will use pgAdmin 4 as our primary development tool. This is a free software application specifically designed for PostgreSQL databases.</p>
          <h2>Download pgAdmin 4</h2>
          <ol>
            <li>Navigate in a browser tab to <a href="https://www.pgadmin.org/" target="_blank">pgAdmin.org</a>.</li>
            <li>Click the "Download" option on the left.</li>
            <li>Click the option for your operating system from the top row of options.
              <div class="callout"><img src="/online340/images/pgadmin-downloads.png"
                  alt="Screenshot of pgAdmin download options"></div>
            </li>
            <li>Click the newest version (top item) from the list.</li>
            <li>In the new window, click the bottom item under the Files heading. For Mac it should have a "dmg" extension, for Windows it should have an "exe" extension.
            </li>
            <li>Wait for the download to finish.</li>
           </ol>

           <h2>Install</h2>
           <ol>
            <li>Open the <code class="language-markup">downloads</code> folder on your computer.</li>
            <li>Find and double-click the pgAdmin installer.</li>
            <li>Follow the default installer options for your operating system.</li>
            <li><span class="notice">Important! During the installation you will be asked to supply a "master password". I suggest something simple, like "password" for now. Store this password somewhere so you can find it in the future if needed. If you forget it, it is very difficult to fix.</span></li>
           </ol>
            
          <h2>Conclusion</h2>
          <p>With pgAdmin installed, we'll start using it in the next activity.</p>
    </main>
    <footer>
      <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License"
          style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as
      noted) are by Blaine Robertson and licensed under a <a rel="license"
        href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0
        License</a>. </footer>
  </div>
</body>

</html>