<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Render Account | Web Backend Development</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/340-js/css/340course-min.css" type="text/css" media="screen">
</head>

<body>
  <div id="wrapper">
    <header><img src="/340-js/images/small_banner.jpg" alt="Course Banner"></header>
    <main>
      <h1>Render.com Account</h1>
      <h2>Introduction</h2>
      <p>From this point forward, we will maintain a more professional workflow in our couse. This means that we will
        develop and test locally and push our finished work to a remote production environment - <a
          href="https://render.com/" target="_blank">Render.com</a>. In order to get started, you mush have an account.</p>
          <h2>Create your Account</h2>
          <ol>
            <li>Navigate in a browser tab to <a href="https://render.com/" target="_blank">Render.com</a>.</li>
            <li>Click the "Get Started" button in the top-right corner.</li>
            <li>Click the "GitHub" button. - By using the OAuth option (login method) and tying the Render.com and GitHub accounts together, it will make our workflow easier in the long run.
              <figure>
                <img src="/340-js/images/github-at-render.png" alt="Github option on the render.com signup screen">
              </figure>
            </li>
            <li>You should be shown a screen asking you to authorize and login to your GitHub account. By positively answering the prompts and logging in to your GitHub account, the two accounts will be authorized to work together.</li>
          </ol>
          <h2>The Dashboard</h2>
          <p>When done, you should land at your Dashboard. It should be empty. Accross the top you should see various options as shown in the image below:
            <div class="callout"><img src="/340-js/images/render-dashboard-options.png" alt="Screenshot of the render.com Dashboard options"><br>
            The Docs, Community and Help options may be useful in the future.</div>
          </p>
          <h2>Conclusion</h2>
          <p>With the account created, you're ready to create your first service - a PostgreSQL database. Let's do that in the next activity.</p>
    </main>
    <footer>
      <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License"
          style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as
      noted) are by Blaine Robertson and licensed under a <a rel="license"
        href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0
        License</a>. </footer>
  </div>
</body>

</html>