<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <title>Visual Studio Code Extensions | Web Backend Development</title>
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="/cse340-ww-content/css/340course-min.css"
      type="text/css"
      media="screen" />

  </head>

  <body>
    <div id="wrapper">
      <header>
        <img src="/cse340-ww-content/images/small_banner.jpg" alt="Course Banner" />
      </header>
      <main>
        <h1>Visual Studio Code Extensions</h1>
        <h2>Introduction</h2>
        <p>
          Visual Studio Code is one of the most often used code editors largly due to the number of extensions available for it. What is an extension? It is a small applicaton that can be added to the main application to give it enhanced functionality. There are thousands of extensions for many languages and tools. There are a few extensions listed below that you should install for use in our class.
        </p>

        <h2>Extensions</h2>
        <p>
          Here are several extensions that are recommended for working with Node, Express, EJS, and SQL in our class. To add these extensions, click on the extensions button and then, type their names in the provided search box. Click on the "Install" button for each tool to add it.
        </p>
        <ul>
          <li>
            <b>Prettier</b> (by Prettier) - use to format code for better
            readability.
          </li>

          <li>
            <b>EJS language support</b> (by DigitalBrainstem) - add EJS code
            hinting to speed up EJS code writing.
          </li>
          <li>
            <b>File Utils</b> (by Steffen Leistner) - adds functionality to the File Manager panel.
          </li>
          <li>
            <b>SqlTools</b> (by Matheus Teizeira) - for interacting with
            databases and writing queries.
          </li>
          <li>
            <b>SQLTools PostgreSQL/Cockroach Driver</b> (by Matheus Teixeira) - allows for VS Code communications with PostgreSQL database during development.
          </li>
          <li>
            <b>JavaScript (ES6) code snippets</b> (by charalampos karypidis) - Useful when writing modern JavaScript.
          </li>
        </ul>

        <h2>Keyboard Shortcuts</h2>
        <p>
          Many times tasks can be accomplished using keyboard shortcuts instead of using a mouse. VS Code has a large list of shortcuts that can be found in the <code>Help > Keyboard Shortcut Reference</code> menu. However, it is very large and can be overwhelming.
        </p>
        <p>
          Instead, a shorter version has been created that features only those commands (both operating system and VS Code) shortcuts that seem to be used often.
          <a
            href="../downloads/code-shortcuts.pdf"
            title="Download the PDF file for printing of common keyboard shortcuts"
            target="_blank"
            >Download and print this shortened list of keyboard shortcuts</a
          > and learn them to save yourself time and energy.
        </p>
      </main>
      <footer>
        <a
          rel="license"
          href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"
          ><img
            alt="Creative Commons License"
            style="border-width: 0"
            src="//i.creativecommons.org/l/by-sa/3.0/88x31.png"
        /></a>
        All materials (except as noted) are by Rebecca Vest and Blaine Robertson
        and licensed under a
        <a
          rel="license"
          href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"
          >Creative Commons Attribution-ShareAlike 3.0 License</a
        >.
      </footer>
    </div>
  </body>
</html>
