<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Enhancement 1 | Web Backend Development</title>
  <meta name="description" content="CSE 340 Enhancement 1 directions">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/cse340-ww-content/css/340course.css" media="screen">
</head>

<body>
  <div id="wrapper">
    <header id="header"><img src="/cse340-ww-content/images/small_banner.jpg" alt="CSE 340 Banner Image"></header>
    <main>
            <h1>Install the Web Developer Extension</h1>
            <h2>Video Demonstration</h2>
            <iframe src="https://www.youtube.com/embed/Vxc-Mb5i2PE?wmode=opaque" width="560" height="315"
              allowfullscreen="allowfullscreen"></iframe> <br />(04:09 mins, <a
              href="https://docs.google.com/document/d/e/2PACX-1vTB_roPgpxVwblu-osgdDCC9xJZqR1T9Wqc4EB0kjJTPPFpTENIDjdrx75RIupOW2TcE5l5OeJ69RhS/pub"
              target="_blank" rel="noopener">"Web Developer Extension" Transcript</a>)<br />
            <h2>FireFox Installation</h2>
            <p>For FireFox users, follow these steps to install the extension:</p>
            <ol>
              <li>You can locate it by going to FireFox &gt; Menu &gt; Add-ons &gt; Extensions</li>
              <li>Type "Web Developer" in the search box (top right corner)</li>
              <li>Install the one from Chris Pederick.</li>
              <li>Or, use <a href="https://addons.mozilla.org/en-US/firefox/addon/web-developer/" target="_blank"
                  rel="noopener">https://addons.mozilla.org/en-US/firefox/addon/web-developer/</a></li>
              <li>It works exactly the same as the Chrome extension shown in the video.</li>
            </ol>
    </main>
  </div>
</body>

</html>